.featured{
    width: 100%;
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    

}
.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
}
.featuredImg{
    width: 100%;
    object-fit: cover;
}
.featuredTitle{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

@media screen and (max-width:480px) {
    .featured{
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 30px;
    }
}